<.header>
  {@page_title}
    <:actions>
        <.link navigate={~p"/clubs/#{@club}/members/new"}>
            <.button>Mitglied hinzufügen</.button>
        </.link>
    </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.contacts.inserts) do %>
    <SportywebWeb.ContactLive.DetailsTableComponent.render contacts={@streams.contacts} mode={"members"} />

    <div class="mt-4 flex align-middle">
        <.icon name="hero-check-badge" class="mr-1 inline-block w-[20px] text-green-600" /> aktuelle Mitgliedschaft
        <.icon name="hero-arrow-down-on-square" class="ml-1 inline-block w-[20px] text-amber-500" /> Mitgliedsantrag
        <.icon name="hero-archive-box-x-mark" class="ml-1 inline-block w-[20px]" /> ehemalige Mitgliedschaft
    </div>

  <% else %>
    <p>
      Bisher wurden noch keine Mitglieder hinterlegt.
    </p>
  <% end %>
</.card>