<.header>
  {@page_title}
  <:actions>
    <.link patch={~p"/accounts/#{@account}/edit"}>
      <.button>Konto bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Kontonummer">{@account.account_number}</:item>
    <:item title="Name">{@account.name}</:item>
    <:item title="Kontoklasse">{@account.class}</:item>
    <:item :if={Account.is_archived?(@account)} title="Archiviert">
      <.icon name="hero-archive-box" class="ml-1 inline-block w-[20px] text-zinc-800" />
    </:item>
  </.list>
</.card>
