<.header>
  Mitgliedschaft bearbeiten
</.header>

<.card class="mb-5">
  <.input_grids>
    <.input_grid>
        <div class="col-span-12 md:col-span-4">
            <.label>In</.label>
            {Membership.get_organization(@membership).name}
        </div>

        <div class="col-span-12 md:col-span-4">
        </div>

        <div class="col-span-12 md:col-span-4">
            <.label>&nbsp;</.label>
        <.link :if={@membership.contract != nil}
            navigate={~p"/contracts/#{@membership.contract}"}
            class="text-indigo-600 hover:underline"
        >
            Zum Vertrag
        </.link>
        </div>

      <div class="col-span-12 md:col-span-4">
        <.label>Kontakt</.label>
        <.link
          navigate={~p"/contacts/#{@membership.contact}"}
          class="text-indigo-600 hover:underline"
        >
          {@membership.contact.name}
        </.link>
      </div>
      <div class="col-span-12 md:col-span-4">
          <%= if @membership.contact.type == "person" do %>
                <.label>Alter</.label>
                {Contact.age_in_years(@membership.contact)}
            <% end %>
      </div>
      <div class="col-span-12 md:col-span-4">
        <.label>Geschlecht</.label>
        {get_key_for_value(Contact.get_valid_genders(), @membership.contact.person_gender)}
      </div>

    </.input_grid>
  </.input_grids>
</.card>

<.card :if={@contract_form != nil} class="mb-5">
  <.simple_form
    for={@contract_form}
    id="membership-fee-update-form"
    phx-change="validate-contract-form"
    phx-submit="save-fee"
  >
    <.input_grids>
      <.input_grid>
        <div class="col-span-12 md:col-span-8">
          <.input
            field={@contract_form[:fee_id]}
            type="select"
            label="Beitrag"
            options={
              @fee_options
              |> Enum.map(&{"#{&1.name}: #{&1.amount}", &1.id})
            }
            prompt="Bitte auswählen"
          />
        </div>

        <div class="col-span-12 md:col-span-1"></div>

        <div class="col-span-12 md:col-span-3">
          <.label>&nbsp</.label>
          <.button phx-disable-with="Speichern...">Beitrag ändern</.button>
        </div>
      </.input_grid>
    </.input_grids>
  </.simple_form>
</.card>



<.card class="mb-5">
    <.input_grids>
      <.input_grid>
        <div class="col-span-12 md:col-span-3">
            <.label>Status</.label>
            <.icon name={Membership.get_state_icon(@membership).icon} class={"ml-1 inline-block w-[20px] #{Membership.get_state_icon(@membership).color}"} />
            {get_key_for_value(Membership.get_valid_states(), @membership.state)}
        </div>
        <div :if={@membership.contract != nil}
            class="col-span-12 md:col-span-3">
            <.label>Mitglied seit</.label>
            {format_date_field_dmy(@membership.contract.start_date)}
        </div>
        <div :if={@membership.contract != nil && @membership.contract.termination_date != nil}
             class="col-span-12 md:col-span-3">
            <%= case @membership.state do %>
                <% "DECEASED" -> %>
                    <.label>Verstorben am</.label>
                <% "SUSPENDED" -> %>
                    <.label>Ausgeschlossen am</.label>
                <% _ -> %>
                <.label>Kündigungsdatum</.label>
            <% end %>
            {format_date_field_dmy(@membership.contract.termination_date)}
        </div>
        <div :if={@membership.contract != nil && @membership.contract.archive_date != nil }
             class="col-span-12 md:col-span-3">
            <.label>Ende der Mitgliedschaft</.label>
            {format_date_field_dmy(@membership.contract.archive_date)}
        </div>
        <div :if={@membership.reactivation_date != nil} class="col-span-12 md:col-span-3">
            <.label>Pausiert bis</.label>
            {format_date_field_dmy(@membership.reactivation_date)}
        </div>
        <div :if={@membership.suspension_reason != ""} class="col-span-12 md:col-span-6">
            <.label>Ausgeschlossen wegen</.label>
            {@membership.suspension_reason}
        </div>

        <div class="col-span-12 md:col-span-12">
        </div>

        <div class="col-span-12 md:col-span-12 flex gap-4">
            <%= for state <- SportywebWeb.MembershipLive.ChangeStateComponent.get_next_states(@membership) do %>
                <.live_component
                id={"change_state_to_#{state}_component"}
                module={SportywebWeb.MembershipLive.ChangeStateComponent}
                membership={@membership}
                new_state={state}
                fee_options={@fee_options}
                following_memberships={@following_memberships}
                />
            <% end %>
            </div>
      </.input_grid>
    </.input_grids>
</.card>


<.card class="mb-5">
    <.input_grids>
    <.simple_form
        for={@membership_form}
        id="preconditional_membership_form"
        phx-submit="preconditional_membership_submitted"
        >
            <.input_grid>
                <div class="col-span-12 md:col-span-8">
                    <.input
                    field={@membership_form[:preconditional_membership_id]}
                    type="select"
                    label="geknüpft an"
                    options={
                        @other_memberships
                        |> Enum.map(&{"Mitgliedschaft in #{Membership.get_organization(&1).name} - #{get_key_for_value(Membership.get_valid_states(), &1.state)}", &1.id})
                    }
                    prompt="an keine übergeordnete Mitgliedschaft geknüpft"
                    />
                </div>

                <div class="col-span-12 md:col-span-1"></div>

                <div class="col-span-12 md:col-span-3">
                    <.label>&nbsp</.label>
                <.button phx-disable-with="Speichern...">Verknüpfung ändern</.button>
                </div>
            </.input_grid>
    </.simple_form>

        <.input_grid :if={!Enum.empty?(@following_memberships)}>
                <div class="col-span-12 md:col-span-12">
                    <.label>Diese Mitgliedschaft ist die Voraussetzung für</.label>
                </div>
            <%= for membership <- @following_memberships do %>
                <div class="col-span-12 md:col-span-8">
                    <.cancel_button navigate={~p"/memberships/#{membership}/edit"}>
                    Mitgliedschaft in {Membership.get_organization(membership).name}
                    </.cancel_button>
                </div>
            <% end %>
        </.input_grid>
    </.input_grids>
</.card>

<.input_grids>
  <.input_grid>
    <div class="col-span-12 md:col-span-9">
      <.cancel_button navigate={~p"/contacts/#{@membership.contact}"}>Zurück</.cancel_button>
    </div>
    <div class="col-span-12 md:col-span-3">
      <.button
        :if={@membership}
        class="bg-rose-700 hover:bg-rose-800"
        phx-click={JS.push("delete", value: %{id: @membership.id})}
        data-confirm="Mitgliedschaft unwiderruflich löschen? Üblicherweise sollten Mitgliedschaften gekündigt werden."
      >
        Mitgliedschaft löschen
      </.button>
    </div>
  </.input_grid>
</.input_grids>
