<.header>
    {@page_title}
    <:actions>
        <.link navigate={~p"/clubs/#{@club}/memberships/new"}>
            <.button>Mitgliedschaft hinzufügen</.button>
        </.link>
    </:actions>
</.header>

<.card>
    <.live_component 
        id="membership_table" 
        module={SportywebWeb.Membership.MembershipTable} 
        club={@club} />
</.card>