<.header>
  Mitgliedschaft anlegen
</.header>

<.card :if={@contact != nil} class="mb-5">
  <.simple_form
    for={@contract_form}
    id="new-membership-form"
    phx-change="validate"
    phx-submit="save"
  >
    <.input_grids>
      <.input_grid>
        <div class="col-span-12 md:col-span-6">
          <.label>Kontakt</.label>
          {@contact.name}
        </div>
        <div class="col-span-12 md:col-span-6">
          <%= if @duplicated_membership_error !=nil do %>
            <.warn>
              Es besteht bereits eine Mitgliedschaft von {@duplicated_membership_error.contact_name} in {@duplicated_membership_error.organization_name}
            </.warn>
            <.button type="button">
              <.link navigate={~p"/memberships/#{@duplicated_membership_error.other_id}/edit"}>
                Zur bestehenden Mitgliedschaft
              </.link>
            </.button>
          <% end %>
        </div>

        <div class="col-span-12 md:col-span-6">
          <.input
            field={@contract_form[:department_id]}
            type="select"
            options={@departments |> Enum.map(&print_department_option(&1, @other_memberships))}
            label="Abteilung"
            prompt="-"
          />
        </div>
        <div class="col-span-12 md:col-span-6">
          <.input
            field={@contract_form[:group_id]}
            type="select"
            options={@groups |> Enum.map(&print_group_option(&1, @other_memberships))}
            label="Gruppe"
            prompt="-"
          />
        </div>

        <div class="col-span-12 md:col-span-3">
          <.input field={@contract_form[:signing_date]} type="date" label="Aufnahmedatum" />
        </div>
        <div class="col-span-12 md:col-span-3">
          <.input field={@contract_form[:start_date]} type="date" label="Mitgliedschaft ab" />
        </div>

        <div class="col-span-12 md:col-span-6">
          <.input
            name="type"
            value={Enum.at(get_types(), 0)}
            type="select"
            label="Art"
            options={get_types()}
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <.input
            field={@contract_form[:fee_id]}
            type="select"
            label="Beitrag"
            options={
              @fees
              |> Enum.map(&{"#{&1.name}: #{&1.amount}", &1.id})
            }
            prompt="Bitte auswählen"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <.input
            name="preconditional_membership_id"
            value="nil"
            type="select"
            label="geknüpft an"
            options={
              @other_memberships
              |> Enum.map(
                &{"Mitgliedschaft in #{Membership.get_organization(&1).name} - #{get_key_for_value(Membership.get_valid_states(), &1.state)}",
                 &1.id}
              )
            }
            prompt="an keine andere Mitgliedschaft geknüpft "
          />
        </div>
      </.input_grid>
    </.input_grids>

    <:actions>
      <div>
        <.button phx-disable-with="Speichern...">Speichern</.button>
        <.cancel_button navigate={~p"/contacts/#{@contact}"}>Abbrechen</.cancel_button>
      </div>
    </:actions>
  </.simple_form>
</.card>
