<.header>
  {@page_title}
</.header>

<.card>
  <.list>
    <:item title="Vertragsobjekt">
      {format_string_field(@community_name)}
    </:item>
    <:item title="Status">
        {format_string_field(@membership.state)}
    </:item>
    <:item title="Kontakt">
      <.link navigate={~p"/contacts/#{@membership.contact}"} class="text-indigo-600 hover:underline">
        {format_string_field(@membership.contact.name)}
      </.link>
    </:item>
  </.list>
</.card>
