<.header>
  User club role <%= @user_club_role.id %>
  <:subtitle>This is a user_club_role record from your database.</:subtitle>
</.header>

<.list>
  <:item title="ID"><%= @user_club_role.id %></:item>
  <:item title="Name"><%= @user_club_role.user_id %></:item>
  <:item title="Club"><%= @user_club_role.club_id %></:item>
  <:item title="AClubRole"><%= @user_club_role.clubrole_id %></:item>
</.list>

<.back navigate={~p"/userclubroles"}>Back to userclubroles</.back>