<.header>
  {@page_title}
</.header>

<.card>
  <.list>
    <:item title="Vertragsobjekt">
      {format_string_field(@contract_object.name)}
    </:item>
    <:item title="Kontakt">
      <.link navigate={~p"/contacts/#{@contract.contact}"} class="text-indigo-600 hover:underline">
        {format_string_field(@contract.contact.name)}
      </.link>
    </:item>
    <:item title="Gebühr">
      <.link navigate={~p"/fees/#{@contract.fee}"} class="text-indigo-600 hover:underline">
        {format_string_field(@contract.fee.name)}
      </.link>
    </:item>
    <:item title="Unterzeichnungsdatum">
      {format_date_field_dmy(@contract.signing_date)}
    </:item>
    <:item title="Vertragsbeginn">
      {format_date_field_dmy(@contract.start_date)}
    </:item>
    <:item title="Datum der ersten Abrechnung">
      {format_date_field_dmy(@contract.first_billing_date)}
    </:item>
    <:item title="Kündigungsdatum">
      {format_date_field_dmy(@contract.termination_date)}
    </:item>
    <:item title="Vertragsende / Archiviert ab">
      {format_date_field_dmy(@contract.archive_date)}
    </:item>
  </.list>
</.card>
<.header level="2" class="mt-12">
  Dokumente
  <:actions>
    <.link navigate={
      ~p"/documents/new?#{%{ref: @contract.id, type: "contract_document"}}"
    }>
      <.button>Dokument hochladen</.button>
    </.link>
  </:actions>
</.header>
<.card>
  <%= if Enum.any?(@documents) do %>
    <.live_component
      module={SportywebWeb.DocumentListComponent}
      id="documents"
      documents={@documents}
      document_module={Sportyweb.Documents.ContractDocument}
      group_by_type={true}
    />
  <% else %>
    <p>
      Bisher wurden noch keine Dokumente hinzugefügt.
    </p>
  <% end %>
</.card>