<.header>
  {@page_title}
  <:actions>
    <.link patch={~p"/clubs/#{@club}/transactions/new"}>
      <.button>Transaktion erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.transactions.inserts) do %>
    <.table
      id="transactions"
      rows={@streams.transactions}
      row_click={fn {_id, transaction} -> JS.navigate(~p"/transactions/#{transaction}") end}
    >
      <:col :let={{_id, transaction}} label="Name">
        {format_string_field(transaction.name)}
      </:col>

      <:col :let={{_id, transaction}} label="Beleg">
        {transaction.receipt_number}
      </:col>

      <:col :let={{_id, transaction}} label="Erstellung">
        {format_date_field_dmy(transaction.creation_date)}
      </:col>

      <:col :let={{_id, transaction}} label="Zahlung">
        {format_date_field_dmy(transaction.payment_date)}
      </:col>

      <:col :let={{_id, transaction}} label="Art">
        {transaction.type}
      </:col>

      <:col :let={{_id, transaction}} label="Betrag">
        {transaction.amount}
      </:col>

      <:action :let={{_id, transaction}}>
        <.link navigate={~p"/transactions/#{transaction}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p class="mb-3">
      Bisher wurden noch keine Transaktionen erstellt.
    </p>
    <p>
      Transaktionen werden bei der automatisch stattfindenden Berechnung von Gebühren erzeugt.
      Sie können zudem manuell erstellt werden.
    </p>
  <% end %>
</.card>
