<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/transactions/#{@transaction}/edit"}>
      <.button>Transaktion bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Art">
      {format_string_field(@transaction.type)}
    </:item>

    <:item title="Betrag">
      {@transaction.amount}
    </:item>

    <:item title="Belegnummer">
      {format_string_field(@transaction.receipt_number)}
    </:item>

    <:item title="Erstellungsdatum">
      {format_date_field_dmy(@transaction.creation_date)}
    </:item>

    <:item title="Zahlungsdatum">
      {format_date_field_dmy(@transaction.payment_date)}
    </:item>

    <:item title="Kontakt">
      <%= if @transaction.contact_id do %>
        <.link
          navigate={~p"/contacts/#{@transaction.contact_id}"}
          class="text-indigo-600 hover:underline"
        >
          {format_string_field(@transaction.contact.name)}
        </.link>
      <% else %>
        {format_string_field(@transaction.contact)}
      <% end %>
    </:item>
  </.list>
</.card>
