<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/contacts/new"}>
      <.button>Kontakt erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.live_component
    id="contacts_table"
    module={SportywebWeb.ContactLive.ContactsTableComponent}
    club={@club}
  />
</.card>
