<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/contacts/new"}>
      <.button>Kontakt erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.contacts.inserts) do %>
    <SportywebWeb.ContactLive.DetailsTableComponent.render contacts={@streams.contacts} mode="contacts"/>
  <% else %>
    <p>
      Bisher wurde noch kein Kontakt erstellt.
    </p>
  <% end %>
</.card>

