<div>
  <.header>
    <%= @page_title %>
  </.header>
  <.card>
    <.simple_form
      for={@form_document}
      id="document-form"
      phx-change="validate"
      phx-submit="save"
      as="document"
    >
      <.input_grids>
        <.input_grid>
          <!-- Document fields -->
          <div class="col-span-12">
            <.input field={@form_document[:title]} type="text" label="Titel" />
          </div>
          <div class="col-span-12">
            <.input field={@form_document[:description]} type="textarea" label="Beschreibung" />
          </div>
          
          <.live_component
            module={@extension_form_component}
            id="doc-type-form"
            form={@form_extension}
            extension_module={@extension_module}
            changeset={@extension_changeset}
          />
          <div class="col-span-12">
            <.live_file_input upload={@uploads.file} class="file-input" />
          </div>
        </.input_grid>
      </.input_grids>

      <:actions>
        <div>
          <.button phx-disable-with="Speichern...">Speichern</.button>
          <.cancel_button navigate={@navigate}>Abbrechen</.cancel_button>
        </div>
      </:actions>
    </.simple_form>
  </.card>
</div>
